.form-item-select {
    margin: auto;
    width: 340px;
    height: 50px;
    display: block;
    outline: none;
    font-size: 14px;
    color: #A2A2A2;
    background-color: #F5F8FA;
    border-radius: 8px;
    border: none;
    padding-left: 18px;
}

/* .form-item-select>option {
    background-color: #FFFFFF ;
    color: #222222;
    border-radius: 8px;
    max-height: 200px;
} */