@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #102250;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #0094FF;
    text-decoration: none;
}
