.form-item-button {
    margin: 37px 29px 53px 29px;
}

.primary-button {
    width: 340px;
    height: 62px;
    border-radius: 31px;
    outline: none;
    color: #FFFFFF;
    font-size: 18px;
    border: none;
    background-color: #0094FF;
    cursor: pointer;
}

.btn-disabled {
    background-color: #A2A2A2;
    cursor: default;
}
