.input-box::placeholder {
    color:#A2A2A2;
}

.input-box {
    width: 320px;
    height: 50px;
    background-color: #F5F8FA;
    border-radius: 8px;
    outline: none;
    border: none;
    padding-left: 20px;
    margin-left: 30px;
    font-size: 14px;
}

.input-box-margin {
    margin-bottom: 20px;
}

.input-box-email {
    background:url(../../images/email.svg) no-repeat scroll 18px 18px, #F5F8FA;
    padding-left: 50px !important;
    width: 290px !important;
}

.input-box-pswd {
    background: url(../../images/pswd.svg) no-repeat scroll 18px 14px, #F5F8FA;
    padding-left: 50px !important;
    width: 290px !important;
}

.input-box-error-text {
    display: block;
    font-size: 10px;
    height: 20px;
    text-align: left;
    color: #E82828;
    margin-left: 45px;
}