.form-item-radio-flex {
    display: flex;
    width: 340px;
    margin: 30px auto;
}

.form-item-radio-female {
    margin-left: 20px;
}

/* .input-box-radio[type='radio']:checked,
.input-box-radio[type='radio']:not(:checked) {
    position: absolute;
    left: -9999px;
} */

/* .input-box-radio[type='radio']:checked + label,
.input-box-radio[type='radio']:not(:checked) + label {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    line-height: 15px;
    display: inline-block;
    color: #222222;
    font-size: 14px;
}

.input-box-radio[type='radio']:checked + label:before,
.input-box-radio[type='radio']:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #0094FF;
    border-radius: 100%;
    background: #fff;
    box-sizing: border-box;
}

.input-box-radio[type='radio']:checked + label:after,
.input-box-radio[type='radio']:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: #0094FF;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    transition: all 0.2s ease;
}

.input-box-radio[type='radio']:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

.input-box-radio[type='radio']:checked + label:after {
    opacity: 1;
    transform: scale(1);
} */
