.form-item-radio-flex {
    display: flex;
    width: 340px;
    margin: 30px auto;
}

.form-item-radio-female {
    margin-left: 20px;
}

input[type='radio'] {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    outline: none;
    border: 1px solid #0094FF;
    margin-right: 10px;
}

input[type='radio']:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
}

input[type="radio"]:checked:before {
    background: #0094FF;
}

label:nth-last-child(1)>.input-box-radio {
    margin-left: 25px
}

.radio-error-text {
    display: block;
    font-size: 10px;
    height: 20px;
    text-align: left;
    color: #E82828;
    margin-left: 17px;
}
